@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}